
    <div class="container">
         <div class="row row-content" ng-controller="StrainController">
            <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">
              
             	<button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
  					{{showDetails ? 'Hide Details':'Show Details'}}
				</button>  
                  
                    <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                     ng-class="{active:isSelected(1)}">
                    <a ng-click=".select(1)"
                     aria-controls="all menu"
                     role="tab">The Menu</a></li>
                    <li role="presentation"
                     ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                     aria-controls="appetizers"
                     role="tab">Sativa</a></li>
                    <li role="presentation"
                     ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                     aria-controls="mains"
                     role="tab">Indica</a></li>
                    <li role="presentation"
                     ng-class="{active:isSelected(4)}">
                    <a  ng-click="select(4)"
                     aria-controls="desserts"
                     role="tab">Hybrid</a></li>
                </ul>
                
                <div class="tab-content">
               <ul class="media-list">
                <li class="media" ng-repeat="strain in strains | filter:filtText">
                    <div class="media-left media-middle">
                         <a ui-sref="app.straindetails({id: strain.id})">
                        <img class="media-object img-thumbnail"
                        ng-src={{strain.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{strain.name}}
                         <span class="label label-danger">{{strain.fiveStarRating}}</span>
                         <span class="badge">{{strain.category}}</span></h2>
                        <p ng-show="showDetails">{{strain.description}}</p>
                    </div>
                </li>
            </ul>
                    </div>
            </div>
        </div>
    </div>

