    <div class="container">
        <div class="row row-content" ng-controller="StrainDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{strain.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{strain.name}}
                         <span class="label label-danger">{{strain.fiveStarRating}}</span>
                         <span class="badge">{{strain.category}}</span></h2>
                        <p>{{strain.description}}</p>
                    </div>
                </div>
                
                <form class="form-inline">
                    <div class="form-group">
                        <label for="comments">Customer Comments.</label>
                        <label for="sort">Sort by:</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="">
                    </div>
                </form>
                
<!--
                <blockquote ng-repeat="comment in dish.comments | orderBy:'-date'">
                    <p>{{comment.rating}} Stars. {{comment.comment}}</p>
                    <footer> {{ date_expression}}. {{ comment.date | date : "fullDate" }}</footer>
                </blockquote>
-->
                
        </div>
            </div>
    </div>
