<div class="container" ng-controller="SelectionController">
<!--    Flavors carrousel-->
    <div class = "row row-content">
        <div class="col-xs-12">
            <h2>What are your tastes do you prefer?</h2>
            <p>Please help us find out which flavours you like the most!</p>
            <div class="row row-horizon">
                <div class="col-xs-3" ng-repeat = "flavor in flavors">
                    <div class="carousel_card" ng-class="selectedFlavorsBools[$index] ? 'carousel_card_selected' : 'carousel_card'" ng-click="setPreferedFlavor(flavor.name, $index)">
                        <img src="images/placeholder.png" class="img-responsive" alt=""/>
                        <a class = "selection_label">{{flavor.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Positive Effects Carrousel-->
    <div class = "row row-content">
        <div class="col-xs-12">
            <h2>What do you prefer to feel?</h2>
            <p>Please help us find out which effects you like the most!</p>
            <div class="row row-horizon">
                <div class="col-xs-3" ng-repeat = "positive in positiveEff">
                    <div class="carousel_card" ng-class="selectedPositiveBools[$index] ? 'carousel_card_selected' : 'carousel_card'" ng-click="setPreferedPositiveEff(positive.name, $index)">
                        <img src="images/placeholder.png" class="img-responsive" alt="" />
                        <a class = "selection_label">{{positive.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Negative Effects Carrousel-->
    <div class = "row row-content">
        <div class="col-xs-12">
            <h2>What don't you like to feel?</h2>
            <p>Please help us find out which effects you dont like!</p>
            <div class="row row-horizon">
                <div class="col-xs-3" ng-repeat = "negative in negativeEff">
                    <div class="carousel_card" ng-class="selectedNegativeBools[$index] ? 'carousel_card_selected' : 'carousel_card'" ng-click="setPreferedNegativeEff(negative.name, $index)">
                        <img src="images/placeholder.png" class="img-responsive" alt="" />
                        <a class = "selection_label">{{negative.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Medical Effects Carrousel-->
    <div class = "row row-content">
        <div class="col-xs-12">
            <h2>Are you looking for any medical effects?</h2>
            <p>Please help us find out which meical effectypu are looking for!</p>
            <div class="row row-horizon">
                <div class="col-xs-3" ng-repeat = "medical in meicalEff">
                    <div class="carousel_card" ng-class="selectedMedicalBools[$index] ? 'carousel_card_selected' : 'carousel_card'" ng-click="setPreferedMedicalEff(medical.name, $index)">
                        <img src="images/placeholder.png" class="img-responsive" alt="" />
                        <a class = "selection_label">{{medical.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    Submit button-->
    <div class="col-xs-12 text-center"> 
        <p style="padding:15px;"></p>
        <button type="button" class = "btn-xlarge" ng-click="open(lg)">Submit</button>
        <p style="padding:15px;"></p>        
    </div>
    
        <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    
    </div>